<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee Profile</title>
</head>
<body>
<form action="POST">
<td><img src="{{employeeimage.url}}"></td>
<h2>{{employee.first_name}}</h2>
<h2>{{employee.last_name}}</h2>
<h5>{{employee.gender}}</h5>
<h5>{{employee.age}}</h5>
<h5>{{employee.date_of_birth}}</h5>
<h5>{{employee.email_adress}}</h5>
<h5>{{student.nationality}}</h5>
<h5>{{employee.phone_number}}</h5>

            
</form>

<style>
form{
    background-color:purple;
    margin-left:380px;
    width:299px;
    padding:100px;
    font-size:20px;
    border-radius:20px;
    margin-right:300px;
    align-items:center;
    color:white;

}
img{
    height:150px;
    width:100px;
    border-radius:20px;
}
</style>
</body>
</html>